<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="byDay" datePattern="yyyyMMdd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <level>INFO</level>
        <onMatch>ACCEPT</onMatch>

        <onMismatch>DENY</onMismatch>

        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <file>S:/OrtecPlanAction-${byDay}.log</file>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>

        <onMismatch>DENY</onMismatch>

        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <file>S:/Error-OrtecPlanAction-${byDay}.log</file>
    </appender>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR"/>
    </root>

</configuration>