#Active Directory
login-service.url=
login-service.domain=
login-service.authentication-type=

#Token Request Mapping
authentication.token-request.url=/login/token
authentication.secret-id=clktime-app
authentication.secret-key=clktime-secret

#Database
database.username=clktime
database.password=clktime
database.remote=jdbc:jtds:sqlserver://ip:port;DatabaseName=name
database.driver_class=net.sourceforge.jtds.jdbc.Driver
database.dialect=org.hibernate.dialect.SQLServer2012Dialect